<section id="blog" class="blog-area pt-125 pb-130 mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center pb-25">
                    <h2 class="title">{{ blog_title }}</h2>
                    <p>{{ blog_description }}</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8 col-sm-9" *ngFor="let blog of pages">
                <div class="single-blog mt-30">
                    <div class="blog-image">
                        <img src="{{ blog.thumbnail }}" alt="Blog">
                    </div>
                    <div class="blog-content">
                        <h4 class="blog-title">
                            <a [routerLink]="['/blogs', blog.id]">
                                <!-- {{ (blog.title.length > 25) ? (blog.title | slice:0:25) + '...' : (blog.title) }} -->
                                {{ blog.title }}
                            </a>
                        </h4>
                        <span>{{ blog.publish_date | date: 'longDate' }} </span>
                    </div>
                </div> <!-- single blog -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-more text-center mt-50">
                    <app-pagination [pager]="pagination" (setCurrPage)="setPage($any($event))"></app-pagination>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>