<section id="blog-categories-list" class="blog-categories pt-80 pb-130 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="title">Search Results:</h2>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-8 col-sm-9" *ngFor="let blog of pages">
                            <div class="single-blog mt-30">
                                <div class="blog-image">
                                    <img src="../../{{ blog.thumbnail }}" alt="Blog">
                                </div>
                                <div class="blog-content">
                                    <h4 class="blog-title">
                                        <a [routerLink]="['/blogs', blog.id]">
                                            {{ (blog.title.length > 25) ? (blog.title | slice:0:25) + '...' :
                                            (blog.title) }}
                                        </a>
                                    </h4>
                                    <span>{{ blog.publish_date | date: 'longDate' }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-more text-center mt-50">
                                <app-pagination [pager]="pagination"
                                    (setCurrPage)="setPage($any($event))"></app-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-sidebar">
                    <app-sidebar-search></app-sidebar-search>
                    <app-sidebar-blogs></app-sidebar-blogs>
                    <app-sidebar-category></app-sidebar-category>
                    <app-sidebar-subscribe></app-sidebar-subscribe>
                </div>
            </div>
        </div>
    </div>
</section>