.sidebar-category {
    padding: 25px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.sidebar-category ul li a {
    display: block;
    font-size: 16px;
    color: #8a8fa3;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.sidebar-category ul li a span {
    float: right;
}

.sidebar-category ul li a:hover {
    color: #754ef9;
}