    <!--====== CALL TO ACTION PART START ======-->

    <section id="call-to-action" class="call-to-action pt-125 pb-130 bg_cover mt-5" style="background-image: url(assets/images/call-to-action.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9">
                    <div class="call-action-content text-center">
                        <h2 class="action-title">You are Using Free Lite Version of Unfold</h2>
                        <p>Please, purchase full version of Unfold to get all pages and features. Including credits removal, permission to use in commercial projects, working contact from, docs and support</p>
                        <ul>
                            <li><a class="main-btn custom" rel="nofollow" href="https://rebrand.ly/unfold-ud">Get Full Version</a></li>
                            <li><a class="main-btn custom-2" rel="nofollow" href="https://rebrand.ly/unfold-ud">View Details</a></li>
                        </ul>
                    </div> <!-- call action content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== CALL TO ACTION PART ENDS ======-->
