<app-header></app-header>
<!--
<app-home></app-home>
<app-about></app-about>
<app-services></app-services>
<app-collab></app-collab>
<app-portfolio></app-portfolio>
<app-pricing></app-pricing>
<app-blog></app-blog>
<app-contact></app-contact> -->
<router-outlet>
    <div class="preloader">
        <div class="loader_34">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</router-outlet>
<app-footer></app-footer>