<div id="parallax" class="blog-area pt-125 pb-130 header-content d-flex align-items-center mt-5">
    <div class="header-shape shape-one layer" data-depth="0.10">
        <img src="{{ homeConf.shapes.shape1 }}" alt="Shape">
    </div> <!-- header shape -->
    <div class="header-shape shape-tow layer" data-depth="0.30">
        <img src="{{ homeConf.shapes.shape2 }}" alt="Shape">
    </div> <!-- header shape -->
    <div class="header-shape shape-three layer" data-depth="0.40">
        <img src="{{ homeConf.shapes.shape3 }}" alt="Shape">
    </div> <!-- header shape -->
    <div class="header-shape shape-fore layer" data-depth="0.60">
        <img src="{{ homeConf.shapes.shape2 }}" alt="Shape">
    </div> <!-- header shape -->
    <div class="header-shape shape-five layer" data-depth="0.20">
        <img src="{{ homeConf.shapes.shape1 }}" alt="Shape">
    </div> <!-- header shape -->
    <div class="header-shape shape-six layer" data-depth="0.15">
        <img src="{{ homeConf.shapes.shape4 }}" alt="Shape">
    </div> <!-- header shape -->
    <div class="header-shape shape-seven layer" data-depth="0.50">
        <img src="{{ homeConf.shapes.shape5 }}" alt="Shape">
    </div> <!-- header shape -->
    <div class="header-shape shape-eight layer" data-depth="0.40">
        <img src="{{ homeConf.shapes.shape3 }}" alt="Shape">
    </div> <!-- header shape -->
    <div class="header-shape shape-nine layer" data-depth="0.20">
        <img src="{{ homeConf.shapes.shape6 }}" alt="Shape">
    </div> <!-- header shape -->
    <div class="header-shape shape-ten layer" data-depth="0.30">
        <img src="{{ homeConf.shapes.shape3 }}" alt="Shape">
    </div> <!-- header shape -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6">
                <div class="header-content-right">
                    <h4 class="sub-title">Hello, I'm</h4>
                    <h1 class="title">{{ homeConf.username }}</h1>
                    <p>{{ homeConf.description }}</p>
                    <!-- <a class="main-btn" routerLink="/portfolio">View my Work</a> -->
                </div> <!-- header content right -->
            </div>
            <div class="col-lg-6 offset-xl-1">
                <div class="header-image d-none d-lg-block">
                    <img src="{{ homeConf.image }}" alt="my profile picture">
                </div> <!-- header image -->
            </div>
        </div>
    </div>
</div>