<div class="comment-form mt-50">
    <h4 class="title">Leave a Comment</h4>
    <div class="comment-form-box">
        <form action="#">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-input">
                        <input type="text" name="name" placeholder="Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-input">
                        <input type="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="single-input">
                        <textarea name="message" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="single-input">
                        <button class="main-btn">send</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>