<div class="author-comment mt-20">
    <h4 class="title">Comment</h4>
    <ul>
        <li>
            <div class="single-comment d-sm-flex">
                <div class="comment-thumb">
                    <img src="../assets/images/blog/bolg-detailes/cm-1.png" alt="author">
                </div>
                <div class="comment-content media-body">
                    <h5 class="author-name">Mark Parker</h5>
                    <span>25 June, 2022</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore.</p>
                </div>
            </div>
            <ul class="comment-replay">
                <li>
                    <div class="single-comment d-sm-flex">
                        <div class="comment-thumb">
                            <img src="../assets/images/blog/bolg-detailes/cm-2.png" alt="author">
                        </div>
                        <div class="comment-content media-body">
                            <h5 class="author-name">Boddy Akter</h5>
                            <span>25 June, 2022</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>